
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Keshav Mahavidyalaya</title>
    <meta name="keywords" content="keshav Mahavidyalaya, university of delhi, college pitampura">
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css rel=stylesheet">

</head>

<body>
    <header>
        <nav>
            <div style="margin:0 4rem;" class="keshav-logo">
                <img width="auto" height="45px" src="{% static "img/keshav-logo.png" %}" alt="Keshav Mahavidyalaya Logo">
            </div>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Contact Us</a></li>
                <!-- <li><a href="#">Faculty and Staff</a></li> -->
                <li><a href="{% url "admission_form" %}">Sudent Admission form</a></li>

        </nav>
    </header>
    <main>
        <div class="main-c">
            <div class="container">
                <div class="sub-c">
                    <h1 id="head-home">
                        Welcome to <big>Keshav Mahavidyalaya</big>
                    </h1>
                    <div class="home-btn">

                        <a href="#register" class="register-btn">Register Now</a>
                    </div>
                </div>
            </div>
        </div>

        <section id="about" class="about">

            <div class="ab-first">
                <h2>From Principal Desk</h2>
                <p class="about-text">
                    Greetings, future world leaders (emphasis on future)!
                    Tired of being spoon-fed information? Keshav Mahavidyalaya isn't your average college. We challenge
                    you to think critically, discover your voice, and maybe even a hidden talent (hopefully not
                    interpretive dance in the cafeteria). Forget the nap pods (we're working on it!), this is about
                    gaining the knowledge and skills to be a future world leader. We offer adventure, laughter, and yes,
                    the occasional existential crisis (it's a learning experience!). Think you're up for the challenge?
                    Apply now. P.S. There might be decent coffee involved.
                </p>
            </div>
            <div class="ab-second">
                <!-- <img src="/assets/keshav-principal.jpg" alt="keshav Principal"> -->
            </div>


        </section>

        <section class="academic-calendar">
            <h2>Academic Calendar 2023-2024</h2>
            <table>
                <thead>
                    <tr>
                        <th class="text-left">Event</th>
                        <th class="text-left">Semester</th>
                        <th class="text-left">Dates</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Commencement of Classes</td>
                        <td>I/III/V/VII</td>
                        <td>Wednesday, August 16th, 2023</td>
                    </tr>
                    <tr>
                        <td>Winter Break</td>
                        <td>-</td>
                        <td>Monday, November 13th, 2023 to Sunday, November 19th, 2023</td>
                    </tr>
                    <tr>
                        <td>Commencement of Classes After Winter Break</td>
                        <td>-</td>
                        <td>Monday, November 20th, 2023</td>
                    </tr>
                    <tr>
                        <td>Dispersal of Classes, Preparatory Leave and Conduct of Practical Examinations</td>
                        <td>-</td>
                        <td>Wednesday, December 13th, 2023 to Tuesday, December 19th, 2023</td>
                    </tr>
                    <tr>
                        <td>Commencement of Theory Examinations</td>
                        <td>-</td>
                        <td>Wednesday, December 20th, 2023</td>
                    </tr>
                    <tr>
                        <td>Commencement of Classes</td>
                        <td>II/IV/VI/VIII</td>
                        <td>Thursday, January 18th, 2024</td>
                    </tr>
                    <tr>
                        <td>Mid Semester Break</td>
                        <td>-</td>
                        <td>Sunday, March 24th, 2024 to Sunday, March 31st, 2024</td>
                    </tr>
                    <tr>
                        <td>Commencement of Classes After Mid Semester Break</td>
                        <td>-</td>
                        <td>Monday, April 1st, 2024</td>
                    </tr>
                    <tr>
                        <td>Dispersal of Classes, Preparatory Leave and Conduct of Practical Examinations</td>
                        <td>-</td>
                        <td>Sunday, May 12th, 2024 to Monday, May 20th, 2024</td>
                    </tr>
                    <tr>
                        <td>Commencement of Theory Examinations</td>
                        <td>-</td>
                        <td>Tuesday, May 21st, 2024</td>
                    </tr>
                    <tr>
                        <td>Summer Vacation</td>
                        <td>-</td>
                        <td>Friday, June 7th, 2024 to Sunday, July 21st, 2024</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section class="academic-units">
            <h2>Academic Units</h2>
            <div class="container">
                <ul>
                    <li class="unit">
                        <a href="#">Departments</a>
                        <p>A variety of departments offering undergraduate and postgraduate programs.</p>
                    </li>
                    <li class="unit">
                        <a href="#">Centres</a>
                        <p>Specialized centers focusing on advanced research and professional development.</p>
                    </li>
                    <li class="unit">
                        <a href="#">Schools</a>
                        <p>Interdisciplinary schools fostering innovation and collaboration across disciplines.</p>
                    </li>
                    <li class="unit">
                        <a href="#">Centres of Excellence</a>
                        <p>Leading centers recognized for their outstanding research and teaching.</p>
                    </li>
                </ul>
            </div>
        </section>


        <section id="register">
            <h2>Registration Form</h2>
            <div class="reg-div">
                <div class="reg-form">
                    <form   onsubmit="return formVal()" id="my-form">

                        <div class="form-c1">
                            <label class="form-labels" for="f-name">First Name</label>
                            <input class="form-items" name="f-name" placeholder="Rashmika" id="f-name"
                                class="form-items" type="text">
                        </div>

                        <div class="form-c1">
                            <label class="form-labels" for="l-name">Last Name</label>
                            <input class="form-items" name="l-name" placeholder="Mandana" id="l-name" class="form-items"
                                type="text">
                        </div>


                        <div class="form-c1">
                            <label class="form-labels" for="email">Email</label>
                            <input class="form-items" placeholder="rashmika@cute.com" type="email" name="email"
                                id="email">
                        </div>

                        <div class="form-c1">
                            <label class="form-labels" for="telephone">Telephone</label>
                            <input placeholder="+81-2838..." class="form-items" type="tel" name="telephone"
                                id="telephone">
                        </div>

                        <div class="form-c1">
                            <p class="form-labels">Team Size</p>
                            <input type="radio" name="one" id="one">
                            <label style="display: inline;" class="form-labels" for="one">1</label>
                            <input type="radio" name="one" id="two">
                            <label style="display: inline;" class="form-labels" for="two">2</label>
                            <input type="radio" name="one" id="three">
                            <label style="display: inline;" class="form-labels" for="three">3</label>
                            <input type="radio" name="one" id="four">
                            <label style="display: inline;" class="form-labels" for="four">4</label>

                        </div>

                        <div class="form-c1">
                            <label class="form-labels" for="idea">Why choose Keshav?</label>
                            <textarea placeholder="Descirbe in Brief about yourself" style="height: 64px;"
                                class="form-items" name="idea" id="idea" cols="30" rows="10"></textarea>
                        </div>
                        <div class="form-c1">
                            <label class="form-labels" for="password">Password</label>
                            <input placeholder="abc@/*.323" class="form-items" type="password" name="password"
                                id="password">
                        </div>


                        <div class="form-c1">
                            <label class="form-labels" for="cnf-password">Confirm Password</label>
                            <input placeholder="abc@/*.323" class="form-items" type="password" name="cnf-password"
                                id="cnf-password">
                        </div>
                        <div class="form-c1">
                            <input style="display: inline;" type="checkbox" name="checkb" id="checkb">
                            <p id="tands">I accept the <span>terms and conditions</span> after filling the Registration
                                form of Keshav Mahavidyalaya</p>
                        </div>



                    </form>
                </div>
                <div class="reg-img">

                </div>


            </div>
            <div class="submit-btn-box">
                <button type="submit" onclick="registerFunc()" id="submit-btn">Register</button>
            </div>
        </section>
        <section id="chat-interface">
            <div class="chat-box reg-div">
                <div class="chatbot ">
                    <div id="chatbot">

                    </div>
                    <div class="chat-input">
                        <div id="response-container"></div>
                        <div id="chat-container">

                            <div id="chat-form">
                                <input type="text" id="chat-input" placeholder="Ask me anything...">
                                <button id="send-button"><i id="ss-btn-img" class='bx bxs-send'></i></button>
                            </div>


                        </div>

                    </div>
                </div>
                <div class="chat-img reg-img">

                </div>
            </div>
        </section>


    </main>

    <footer>
        <div class="footer-content">
            <div class="logo-box">
                <img src="/assets/keshav-logo.png" alt="College Logo">
                <p style="font-family: var(--head-font);">Keshav Mahavidyalaya, Near Sainik Vihar</p>
                <p style="font-family: var(--head-font);">Pitampura, New Delhi</p>
                <p style="font-family: var(--hack-font);"> University of Delhi</p>
            </div>

            <div class="contact-links">
                <a target="_blank" href="https://www.linkedin.com/in/adarsh-maurya-dev/"><i
                        class='bx bxl-linkedin'></i></a>
                <a href="https://github.com/4darsh-Dev" target="_blank"><i class='bx bxl-github'></i></a>
                <a target="_blank" href="#"><i class='bx bxl-facebook'></i></a>
                <a target="_blank" href="#"><i class='bx bxl-instagram'></i></a>
                <a target="_blank" href="https://twitter.com/4darsh_Dev"><i class='bx bxl-twitter'></i></a>



            </div>

        </div>
        <div class="last-text">
            <p style="font-family: var(--head-font);">Designed & Developed with <i id="heart" class="bx bxs-heart"></i>
                by <a class="last-text-link" href="https://adarshmaurya.onionreads.com/">Adarsh Maurya</a></p>
            <div class="copyright">
                <p>&copy; 2024 Keshav Mahavidyalay. All rights reserved.</p>
            </div>
        </div>
    </footer>
    <a href="#" class="top">
        <i class="bx bx-up-arrow-alt"></i>
    </a>

    <script src="{% static "js/script.js" %}}"></script>
</body>

</html>